{block content}
    <p>{$welcome}</p>

    Seznam článků:
    <ul>
        {foreach $allArticles as $article}
            <li>
                <a n:href="Article:show id => $article->id">{$article->title}</a>
            </li>
        {/foreach}
    </ul>
{/block}
