{* This is the welcome page, you can delete it *}

{block content}

	<h1>Nas blogisek</h1>
	<p>
		<strong>{$privitani}</strong> Lorem ipsum dolor sit amet.
	</p>

	<a n:href="Article:">Vsechny clanky</a>

{/block}
