{block content}

    <h1>{$article->title}</h1>
    <p>{$article->text}</p>
    <hr>
    <p>Vloženo: {$article->timestamp|date:'d.m.Y'}</p>
    <a n:href="Homepage:">&lt; &lt; Zpět na seznam člnáků</a>

    {control comentForm}
{/block}